<%= form_with(model: beer_club, local: true) do |form| %>
  <% if beer_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
      <% beer_club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-control-lg">
    <%= form.label :name, class:"col" %>
    <%= form.text_field :name, class:"col" %>
  </div>

  <div class="row form-control-lg">
    <%= form.label :founded, class:"col" %>
    <%= form.number_field :founded, class:"col" %>
  </div>

  <div class="row form-control-lg">
    <%= form.label :city, class:"col" %>
    <%= form.text_field :city, class:"col" %>
  </div>

  <div class="actions form-control-lg">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
