<h1>Ratings</h1>

<table class="table table-hover">
  <thead>
    Newest ratings
  </thead>

  <tbody>
    <ul>
        <% @ratings.recent.each do |rating| %>
            <li> <%= rating %> <%=link_to rating.user.username, rating.user %> </li>
        <% end %>
    </ul>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    Best breweries
  </thead>

  <tbody>
    <ul>
       #TODO
    </ul>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    All ratings
  </thead>

  <tbody>
    <p> Number of ratings: <%= @ratings.count %> </p>
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating %> <%=link_to rating.user.username, rating.user %> </li>
        <% end %>
    </ul>
  </tbody>
</table>

<% if current_user %>
  <%= link_to 'New rating', new_rating_path, class:"btn btn-primary" %>
<% end %>


