<p id="notice"><%= notice %></p>

<h1>List of ratings</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <p> Number of ratings: <%= @ratings.count %> </p>
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating %> <%=link_to rating.user.username, rating.user %> </li>
        <% end %>
    </ul>
  </tbody>
</table>

<% if current_user %>
  <%= link_to 'New rating', new_rating_path %>
<% end %>


