<p id="notice"><%= notice %></p>

<h1>List of ratings</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <p> Number of ratings: <%= @ratings.count %> </p>
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
        <% end %>
    </ul>
  </tbody>
</table>

<%= link_to 'New rating', new_rating_path %>

<br>

