<p id="notice"><%= notice %></p>

<h2>
  <%= @beer.name %>
</h2>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    Beer has not yet been rated!
  <% else %>
    Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %>
  <% end %>
</p>

<% if current_user %>
  <h4>Give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer) %> 
  <%= link_to 'Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>